@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    /*background-color: rgba(0, 0, 0, 0.25);*/
  }
  a {
    color: #1677ff;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
}
@layer components {
  /*pre标签*/
  .pre-meat {
    @apply inline-block text-xs text-orange-500  mx-2;
  }
}

.ant-btn-primary {
  background-color: #1677ff;
}

.MaBox_option {
  width: 900px;
  margin: 0 auto;
  padding-top: 2em;
}

.mabox_content {
  margin-top: 1em;
}

@media (max-width: 768px) {
  .MaBox_option {
    width: 100%;
    padding: 0.5em;
  }

  .mabox_content {
    margin-top: 0.5em;
  }

  .ant-tabs-left > .ant-tabs-nav {
    width: 100% !important;
  }

  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 16px;
  }

  .ant-form-item .ant-form-item-label {
    padding-bottom: 4px;
  }

  .ant-form-item .ant-form-item-control {
    margin-top: 4px;
  }
}

/* 分类菜单 */
.menu-header{
  font-weight: bold;
}