.past-posts-listing {
    font-size: 13px; /* 设置字体大小为13px */
    line-height: 1; /* 设置行距适中 */
    padding: 10px; /* 为整个列表添加一些内边距 */
}

.past-posts-listing a {
    text-decoration: none; /* 移除链接的下划线 */
    color: #000; /* 设置链接的默认颜色 */
}

.past-posts-listing a:hover {
    color: #333; /* 鼠标悬停在链接上时的颜色 */
}

.past-post-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px; /* 减小列表项之间的间隙 */
    padding: 5px;
}

.past-post-item .past-post-content {
    flex: 1;
}

.past-post-item .past-post-title {
    font-size: 14px; /* 标题字体大小 */
    margin-bottom: 5px;
}

.past-post-item .past-post-timestamp {
    font-size: 8px; /* 设置时间戳字体大小为8px */
    color: #999; /* 设置时间戳颜色为浅灰色 */
    margin-top: 5px; /* 将时间戳另起一行 */
}

/* 适配暗色模式 */
@media (prefers-color-scheme: dark) {
    .past-posts-listing {
        color: #bbb;
    }

    .past-post-item .past-post-title,
    .past-post-item .past-post-timestamp {
        color: inherit;
    }

    .past-posts-listing a {
        color: #bbb;
    }

    .past-posts-listing a:hover {
        color: #39d884;
    }
}