.grve-back-top {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  right: 1.5rem;
  bottom: 2rem;
  text-align: center;
  z-index: 900;
  overflow: hidden;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;

  opacity: 0;
  /* 初始状态隐藏 */
  transition: opacity 0.3s ease;
  /* 动画效果 */
  cursor: pointer;
}

#topcontrol.npcShow {
  opacity: 1;
  /* 滚动到一定高度后显示 */
}

.grve-back-top .grve-arrow-wrapper {
  height: inherit;
  width: inherit;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  transform: translateY(30%);

  pointer-events: visible;
}

.grve-back-top .grve-arrow-wrapper:hover {
  transform: translateY(0);
}
