.ant-message-notice-content {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 2rem !important;
}
.poster_canvas .canvas-container {
  display: flex;
}
.poster {
  position: relative;
  color: #333;
  width: 100%;
  max-width: 40rem;
  height: auto;
  margin: 0 auto;
  background-color: #f4f4f4;
  /*border-radius: 2rem;
  overflow: hidden;
  */
}
.box {
  width: 400px;
}
.bg {
  position: relative;
}
.bg img {
  display: block;
  width: 100%;
  height: auto;
}
.bg .meat {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  text-align: right;
}
.bg .meat p {
  margin: 0;
}
.bg .meat p:first-child {
  font-size: 30px;
}
.content {
  text-align: center;
  padding: 30px;
}
.content h2 {
  margin: 10px 0;
  font-weight: bold;
}
.content .meat {
  line-height: 1.4em;
  margin-top: 40px;
  color: #a5a5a5;
}
.content .qr {
  margin-top: 30px;
  color: #a5a5a5;
}
.content .qr div {
  margin: 0 auto;
}
.content .qr p {
  margin: 10px 0;
  font-size: 12px;
}
