//图块混合
/*圆角弧度*/
@Universal-radian: 6px;
/*大体框架*/
.magick-content {
  max-width: 1200px;
}
.magick-single-census {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  > div {
    flex: 1;
  }

  .magick-right {
    flex: 0 0 40%;
    .bisection {
      display: flex;
      flex-wrap: wrap;
      margin: 26px 0px;
      > div {
        flex: 1;
        padding: 10px 16px;
        margin: 20px 10px;
        border-radius: @Universal-radian;
        box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
        span {
          font-size: 16px;
          font-weight: bold;
        }
        .census-child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          > p {
            font-size: 13px;
            line-height: 1.5;
            margin: 1em 0;
            span {
              font-size: 26px;
              font-weight: bold;
            }
          }
          span {
            font-size: 28px;
            width: 36px;
            height: 36px;
          }
        }
      }
    }
  }
}
