/*圆角弧度*/
/*大体框架*/
.magick-content {
  max-width: 1200px;
}
.magick-single-census {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.magick-single-census > div {
  flex: 1;
}
.magick-single-census .magick-right {
  flex: 0 0 40%;
}
.magick-single-census .magick-right .bisection {
  display: flex;
  flex-wrap: wrap;
  margin: 26px 0px;
}
.magick-single-census .magick-right .bisection > div {
  flex: 1;
  padding: 10px 16px;
  margin: 20px 10px;
  border-radius: 6px;
  box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, 0.1), -8px -8px 20px 0 #fff;
}
.magick-single-census .magick-right .bisection > div span {
  font-size: 16px;
  font-weight: bold;
}
.magick-single-census .magick-right .bisection > div .census-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.magick-single-census .magick-right .bisection > div .census-child > p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}
.magick-single-census .magick-right .bisection > div .census-child > p span {
  font-size: 26px;
  font-weight: bold;
}
.magick-single-census .magick-right .bisection > div .census-child span {
  font-size: 28px;
  width: 36px;
  height: 36px;
}
